@include keyframes(waveFlag) {
  0% {
    @include transform(rotateY(0deg));
  }

  33% {
    @include transform(rotateY(-10deg));
  }

  66% {
    @include transform(rotateY(10deg));
  }

  100% {
    @include transform(rotateY(0deg));
  }
}



@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
}




@include keyframes (rotating) {
    from{
        @include transform(rotate(0deg));
    }
    to{
        @include transform(rotate(360deg));
    }
}




@include keyframes (fadeInUp) {
    0% {
        opacity: 0;
        @include transform(translateY(20px));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
}




@include keyframes (fadeInDown) {
    0% {
        opacity: 0;
        @include transform(translateY(-20px));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
}




@include keyframes (fadeInLeft) {
    0% {
        opacity: 0;
        @include transform(translateX(-20px));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0));
    }
}




@include keyframes (fadeInDownBig) {
    0% {
        opacity: 0;
        @include transform(translateY(-2000px));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
}

@include keyframes (bounceInDown) {
    0% {
        opacity: 0;
        @include transform(translateY(-20px));
    }
    70% {
        opacity: 0.8;
        @include transform(translateY(4px));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
}