//-------------------------------------
// Button Definitions
//-------------------------------------

.button-set {
  a, button {
    @extend %inline;
  }
}

.button {
  @include transition (background-color .2s);
  text-shadow: 0 1px 0px rgba(black, .2) ;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: $layoutCornerRadius;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: darken($colorCorpHighlight, 7%);
  padding: 0.8em 1em;
  background-color: $colorCorpHighlight;
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-family: $fontFamilyDisplay;
  line-height: 1em;

  &:hover {
    color: white;
    background-color: lighten($colorCorpHighlight, 10%);
  }

  &.grey {
    color: $colorDarkGrey;
    background-color: $colorLightGrey;
    border-bottom-color: $colorBorderLight;
    text-shadow: none;

    &:hover {
      background-color: lighten($colorLightGrey, 5%);
    }
  }

  &.white {
    color: $colorDarkGrey;
    background-color: $colorOffWhite;
    border-bottom-color: $colorBorderLight;
    text-shadow: none;
  }

  /* sizes */

  &.small {
    font-size: .8em;
    padding: .5em .9em;
  }

  &.medium {
    font-size: 1.1em;
  }

  &.call-to-action {
    @include media($breakTabletPortrait) {
      padding: 0.8em 3em 0.6em 3em;
      font-size: 1.2em;
    }

    &.with-icon {
      padding-left: 2em;

      .icon { margin-right: 3px }
    }
  }

  /* states */

  &.disabled {
    opacity: .5;
    cursor: default;
  }

  &.has-loading-indicator {
    overflow: hidden;
    position: relative;

    .btn-content,
    .icon-spinner {
      @include transition(all .15s ease-in-out);
      display: inline-block;
    }

    .btn-content { position: relative }

    .icon-spinner {
      @include animation(rotating .5s linear infinite);
      position: absolute;
      font-size: em(18, 13);
      left: 50%;
      top: -2em;
      margin: -0.5em 0 0 -0.5em;
    }

    &.loading {
      .btn-content {
        top: 2em;
      }

      .icon-spinner {
        top: 50%;
      }
    }
  }
}

.pill-button {
  @include transition(all .2s);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: .7em;
  padding: .2em 1em;
  line-height: 1em;
  background-color: $colorLightGrey;
  color: $colorDarkGrey;
  border-radius: 999px;


  &:hover {
    background-color: lighten($colorLightGrey, 5%);
  }
}

.read-more {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  font-style: normal;
}