//-------------------------------------
// Lists
//-------------------------------------

ul {
  list-style: none;
  padding-left: 0;

  li {
    padding-left: 1em;
    margin-bottom: .5em;
    position: relative;

    &:before {
      display: block;
      content: '\e619';
      font-family: sumup-icons;
      position: absolute;
      top: 0;
      left: -0.3em;
    }
  }

  &.unstyled {
    margin: 0;
    padding-left: 0;
    list-style: none;

    li {
      padding-left: 0;
      margin-bottom: 0;

      &:before { content: "" }
    }
  }

  &.styled {
    &.checkmark li:before {
      content: '\2714';
      top: 50%;
      margin-top: -0.7em;
      color: $colorCorpHighlight;
      text-shadow: 0 1px 0 rgba(black, .3);
    }
  }

  &.footnotes li {
    line-height: .8em;
  }
}

ol {
  list-style-type: decimal;
  // margin-left: 1.3em;
  padding-left: 1.8em;

}

/* Description lists */

dl {}

dt {}

dd {}


//-------------------------------------
// images
//-------------------------------------

img {
  max-width: 100%;
}

figure {}

figcaption {
  font-size: em(12);
  font-weight: 500;
  text-transform: uppercase;
  color: $colorMediumGrey;
  padding-left: 2em;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 1.5em;
    height: 1px;
    background-color: $colorCorpHighlight;
    position: absolute;
    top: .8em;
    left: 0;
  }
}

//-------------------------------------
// Code
//-------------------------------------

pre,
code {
  background-color: $colorLightGrey;
  padding: .2em 1em;
  border-radius: $layoutCornerRadius;
  font-size: em(12);
  overflow-x: auto;
}