.form-list {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    @extend %margin-bottom-small;
    position: relative;
    padding-left: 0;

    &:before { content: "" }
  }

  label {
    @include transition(color .2s);
    display: block;
    margin-bottom: 1px;
    font: {
      size: em(10, 14);
      weight: 400;
    };
    text-transform: uppercase;
    color: $colorDarkGrey;
  }

  .checkboxes input {
    // display: inline-block;
    float: left;
    margin-right: .5em;
    margin-top: .15em;
  }

  .active label { color: $colorCorpHighlight }

  textarea,
  input {
    outline: none;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    @include transition (border-color .2s);

    @include placeholder { color: $colorLightGrey }

    width: 100%;
    border: 1px solid;
    border-color: $colorLightGrey;
    border-radius: $layoutCornerRadius;
    padding: 0.8em 1em;
    font: {
      size: em(16, 14);
      weight: 400;
      family: $fontFamilyBody;
    };
    -webkit-appearance: none;

    &:focus,
    &:hover {
      border-color: $colorCorpHighlight;
    }
  }

  .select-wrapper {
    position: relative;

    &:after {
      position: absolute;
      top: 30%;
      right: em(5);
      content: "";
      font-family: "entypo";
      font-size: 4em;
    }
  }

  select {
    -webkit-appearance: none;
  }

  .with-card-icon {
    position: relative;

    .card-icon {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 50%;
      right: 10px;
      margin-top: -17px;

      &.visa {
        @include retina-image("../images/card-icons/visa", 32px 32px);
      }

      &.cvv {
        @include retina-image("../images/card-icons/cvv", 32px 32px);
      }
    }
  }
}

.button-set {
  @include clearfix;
  margin-top: em(30);

  p {
    // @include span-columns(5 of 9);
    margin-top: 0;
  }

  &.right .button {
    float: right;
    margin-left: em(20)
  }
}

//-------------------------------------
// Parsley Errors
//-------------------------------------

input[type="text"],
input[type="email"],
input[type="password"],
select {
  &.parsley-success { border-color: $colorSuccess }

  &.parsley-error { border-color: $colorError }
}

.parsley-error-list {
  @extend .unstyled;
  font-size: em(12);

  li {
    position: relative;
    top: -1px;
    padding-top: em(5);
    padding-left: em(5) !important;
    border-left: 1px solid $colorError;
    color: $colorErrorDarker;
    line-height: 1;
  }
}