[class*="icon-"] {
  font-family: 'sumup-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
  content: "\e600";
}
.icon-tablet:before {
  content: "\e601";
}
.icon-bubbles:before {
  content: "\e602";
}
.icon-spinner:before {
  content: "\e603";
}
.icon-eye:before {
  content: "\e604";
}
.icon-info:before {
  content: "\e605";
}
.icon-cloud-download:before {
  content: "\e606";
}
.icon-print:before {
  content: "\e607";
}
.icon-credit:before {
  content: "\e608";
}
.icon-play:before {
  content: "\e609";
}
.icon-mobile:before {
  content: "\e60a";
}
.icon-screen:before {
  content: "\e60b";
}
.icon-cog:before {
  content: "\e60c";
}
.icon-list:before {
  content: "\e60d";
}
.icon-arrow-left:before {
  content: "\e60e";
}
.icon-arrow-right:before {
  content: "\e60f";
}
.icon-lifebuoy:before {
  content: "\e610";
}
.icon-twitter:before {
  content: "\e611";
}
.icon-facebook:before {
  content: "\e612";
}
.icon-vimeo:before {
  content: "\e613";
}
.icon-login:before {
  content: "\e614";
}
.icon-logout:before {
  content: "\e615";
}
.icon-link:before {
  content: "\e616";
}
.icon-checkmark:before {
  content: "\e617";
}
.icon-arrow-left-small:before {
  content: "\e618";
}
.icon-arrow-right-small:before {
  content: "\e619";
}
.icon-pencil:before {
  content: "\e61a";
}
.icon-arrow-up-small:before {
  content: "\e61b";
}
.icon-erase:before {
  content: "\e61c";
}
.icon-location:before {
  content: "\e621";
}
.icon-params:before {
  content: "\e61d";
}
.icon-banknote:before {
  content: "\e61e";
}
.icon-t-shirt:before {
  content: "\e61f";
}
.icon-cup:before {
  content: "\e620";
}
.icon-cancel:before {
  content: "\e622";
}
