/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'sumup-icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-tag, .icon-phone, .icon-screen, .icon-tablet, .icon-bubbles, .icon-spinner, .icon-cog, .icon-eye, .icon-mobile, .icon-play, .icon-list, .icon-arrow-right, .icon-lifebuoy, .icon-twitter, .icon-facebook, .icon-vimeo, .icon-login, .icon-logout, .icon-link, .icon-apple, .icon-android, .icon-cross, .icon-checkmark, .icon-plus-alt, .icon-minus-alt, .icon-info, .icon-calendar, .icon-params, .icon-banknote, .icon-t-shirt, .icon-cup, .icon-next, .icon-previous {
  font-family: 'sumup-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  // custom
  position: relative;
  top: 0.1em;
}
.icon-tag:before {
  content: "\74";
}
.icon-phone:before {
  content: "\70";
}
.icon-screen:before {
  content: "\64";
}
.icon-tablet:before {
  content: "\54";
}
.icon-bubbles:before {
  content: "\63";
}
.icon-spinner:before {
  content: "\25d0";
}
.icon-cog:before {
  content: "\43";
}
.icon-eye:before {
  content: "\65";
}
.icon-mobile:before {
  content: "\50";
}
.icon-play:before {
  content: "\25b8";
}
.icon-list:before {
  content: "\2630";
}
.icon-arrow-right:before {
  content: "\3e";
}
.icon-lifebuoy:before {
  content: "\25ce";
}
.icon-twitter:before {
  content: "\e005";
}
.icon-facebook:before {
  content: "\e006";
}
.icon-vimeo:before {
  content: "\e008";
}
.icon-login:before {
  content: "\25a0";
}
.icon-logout:before {
  content: "\25a1";
}
.icon-link:before {
  content: "\219d";
}
.icon-apple:before {
  content: "\e000";
}
.icon-android:before {
  content: "\e001";
}
.icon-cross:before {
  content: "\2715";
}
.icon-checkmark:before {
  content: "\2713";
}
.icon-plus-alt:before {
  content: "\e004";
}
.icon-minus-alt:before {
  content: "\e007";
}
.icon-info:before {
  content: "\69";
}
.icon-calendar:before {
  content: "\21";
}
.icon-params:before {
  content: "\23";
}
.icon-banknote:before {
  content: "\27";
}
.icon-t-shirt:before {
  content: "\28";
}
.icon-cup:before {
  content: "\29";
}
.icon-next:before {
  content: "\7d";
}
.icon-previous:before {
  content: "\7b";
}
