/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-tag, .icon-phone, .icon-screen, .icon-tablet, .icon-bubbles, .icon-spinner, .icon-eye, .icon-mobile, .icon-cog, .icon-list, .icon-arrow-left, .icon-untitled, .icon-lifebuoy, .icon-twitter, .icon-facebook, .icon-vimeo, .icon-login, .icon-logout, .icon-link, .icon-checkmark, .icon-info, .icon-params, .icon-banknote, .icon-t-shirt, .icon-cup, .icon-arrow-right, .icon-arrow-left-2, .icon-cloud-download, .icon-print, .icon-credit-card, .icon-pencil, .icon-arrow-up, .icon-erase, .icon-play {
  font-family: 'sumup-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-tag:before {
  content: "\21";
}
.icon-phone:before {
  content: "\22";
}
.icon-screen:before {
  content: "\23";
}
.icon-tablet:before {
  content: "\24";
}
.icon-bubbles:before {
  content: "\25";
}
.icon-spinner:before {
  content: "\26";
}
.icon-eye:before {
  content: "\27";
}
.icon-mobile:before {
  content: "\28";
}
.icon-cog:before {
  content: "\2a";
}
.icon-list:before {
  content: "\2b";
}
.icon-arrow-left:before {
  content: "\2c";
}
.icon-untitled:before {
  content: "\2d";
}
.icon-lifebuoy:before {
  content: "\2e";
}
.icon-twitter:before {
  content: "\74";
}
.icon-facebook:before {
  content: "\66";
}
.icon-vimeo:before {
  content: "\76";
}
.icon-login:before {
  content: "\32";
}
.icon-logout:before {
  content: "\33";
}
.icon-link:before {
  content: "\34";
}
.icon-checkmark:before {
  content: "\2714";
}
.icon-info:before {
  content: "\36";
}
.icon-params:before {
  content: "\37";
}
.icon-banknote:before {
  content: "\38";
}
.icon-t-shirt:before {
  content: "\39";
}
.icon-cup:before {
  content: "\3a";
}
.icon-arrow-right:before {
  content: "\3e";
}
.icon-arrow-left-2:before {
  content: "\3c";
}
.icon-cloud-download:before {
  content: "\3d";
}
.icon-print:before {
  content: "\70";
}
.icon-credit-card:before {
  content: "\3f";
}
.icon-pencil:before {
  content: "\40";
}
.icon-arrow-up:before {
  content: "\41";
}
.icon-erase:before {
  content: "\42";
}
.icon-play:before {
  content: "\43";
}
