// Layout and display helpers
//
// %inline                    - Applies inline display
// %vertical-align            - Vertically centers elements, independently of their parents
// @mixin omega-reset($nth)   - Custom mixin for float clearing
// $layoutPagePadding         - 1em
// $layoutCompPadding         - 2 * $layoutPagePadding
// $layoutCornerRadius        - 3px
// %no-margin                 - No margin
// %margin-top-tiny           - Adds a tiny .3em top margin
// %margin-top-small          - Adds a small .5em top margin
// %margin-top-medium         - Adds a medium 1em top margin
// %margin-top-large          - Adds a large 2em top margin
// %margin-bottom-tiny        - Adds a tiny .3em bottom margin
// %margin-bottom-small       - Adds a small .5em bottom margin
// %margin-bottom-medium      - Adds a medium 1em bottom margin
// %margin-bottom-large       - Adds a large 2em bottom margin
//
// Styleguide 1.0.

//-------------------------------------
// Display
//-------------------------------------

%inline {
  display: inline-block;
  vertical-align: middle;
}

%readonly {
  cursor: no-drop;
  border: 0 !important;
  padding-left: 0 !important;
  // Temp. custom monospace font stack
  font-family: "Menlo", "Lucida Console", Monaco, monospace;
  padding-top: 0;
  border-bottom: 1px dashed #eee !important;
  color: $colorMediumGrey;
  -webkit-text-fill-color: $colorMediumGrey;
  -webkit-opacity: 1;
  background: white;

  &:hover,
  &:focus,
  &:active {
    cursor: default;
    border-color: $colorLightGrey;
  }
}

//-------------------------------------
// Custom float clearing
//-------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

//-------------------------------------
// Alignment
//-------------------------------------

%vertical-align {
  @include transform(translate3d(0, -50%, 0));
  position: relative;
  top: 50%;
}

//-------------------------------------
// Spacing (margins, paddings)
//-------------------------------------

$layoutPagePadding: 1em;
$layoutCompPadding: 2em;
$layoutCornerRadius: 3px;

%no-margin { margin: 0 }
%no-margin-top { margin-top: 0 }
%no-margin-bottom { margin-bottom: 0 }
%margin-top-tiny { margin-top: .3em }
%margin-top-small { margin-top: .5em }
%margin-top-medium { margin-top: 1em }
%margin-top-large { margin-top: 2em }
%margin-bottom-tiny { margin-bottom: .3em }
%margin-bottom-small { margin-bottom: .5em }
%margin-bottom-medium { margin-bottom: 1em }
%margin-bottom-large { margin-bottom: 2em }

//-------------------------------------
// Static URL
//-------------------------------------

$localhost: 'http://127.0.0.1:8080';
$remotehost: 'https://static.sumup.com';

$staticURL: $remotehost + '/assets/images/marketing';

@mixin static-image($url, $position: center center, $size: null, $repeat: no-repeat) {
  background-image: url($staticURL + '/#{$url}');
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin static-hero($filename, $position: center center) {
  background-image: url($staticURL + '/#{$filename}-small.jpg');
  background-position: $position;
  background-size: cover;
  background-repeat: no-repeat;

  @include media($breakTabletLandscape) {
    background-image: url($staticURL + '/#{$filename}.jpg');
  }
}

@mixin hide-mobile($size) {
  display: none;
  @include media($size) { display: block }
}

//-------------------------------------
// Text truncation ("...")
//-------------------------------------

@mixin truncate($percent) {
  text-overflow: ellipsis;
  width: #{$percent};
  overflow: hidden;
}

//-------------------------------------
// Horizontal ruler
//-------------------------------------

%ruler {
  content: '';
  display: block;
  width: 15em;
  height: 1px;
  margin: 3 * $layoutPagePadding auto;
  background: $colorLightGrey;
}
