table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  text-align: left;

  td, th {
    padding: 1em 10px;
    line-height: 1;
    border-top: 1px solid $colorBorderLight;
    white-space: nowrap;
  }

  thead th {
    font-weight: 500;
    color: white;
    background-color: $colorMediumGrey;

    &:first-child {
      padding-left: 10px;
      border-top-left-radius: $layoutCornerRadius;
    }

    &:last-child {
     border-top-right-radius: $layoutCornerRadius;
    }
  }

  tbody tr:first-child td {
    border-top: none;
  }

  &.unstyled {
    th, td { padding: 0 .5em 0 0 }

    th {
      background-color: transparent;
      color: $colorDarkGrey;
    }

    td { border-top: none }
  }

  &.striped {
    thead,
    tbody,
    tfoot {
      tr:nth-child(2n) td { background-color: $colorOffWhite }
    }
  }

  &.condensed {}

  .null { border: none }
}