table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  text-align: left;

  td, th {
    padding: .5em 1em .5em 0;
    border-top: 1px solid $colorBorderLight;
  }

  th {
    font-weight: 300;
  }

  &.unstyled {
    th, td { padding: 0 .5em 0 0 }

    th {
      background-color: transparent;
      color: $colorDarkGrey;
    }

    td { border-top: none }
  }

  &.striped {
    thead,
    tbody,
    tfoot {
      td, th {
        padding: .5em;
      }

      tr:nth-child(2n) td { background-color: $colorOffWhite }
    }
  }

  &.condensed {}

  .null { border: none }
}