// Color variables

$colorCorpHighlight: #00a5df;
$colorCorpHighlightLighter: #13c2ff;
$colorCorpHighlightDarker: #008bbb;

$colorInfo: #006395;
$colorSuccess: #3EEC91;
$colorSuccessDarker: #35C97C;
$colorWarning: #F3C667;
$colorWarningDarker: #EAB157;
$colorError: #FF9EA2;
$colorErrorDarker: #DB565B;

$colorCorpSecondary: $colorSuccessDarker;
$colorOffWhite: #f7f7f7;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #898989;
$colorDarkGrey: #47494d;
$colorBorderLight: shade($colorLightGrey, 5%);
$colorBorderDark: shade($colorDarkGrey, 10%);
