// Color variables
//
// $colorCorpHighlight         	- Default SumUp blue (#00a5df)
// $colorCorpHighlightLighter	- Lighter SumUp blue (#13c2ff)
// $colorCorpHighlightDarker 	- Darker SumUp blue (#008bbb)
// $colorCorpSecondary			- SumUp green (#35C97C)
// $colorSuccess				- Success green (#3EEC91)
// $colorWarning				- Warning yellow (#F3C667)
// $colorError					- Error red (#FF9EA2)
// $colorOffWhite				- White-ish grey (#f7f7f7)
// $colorLightGrey				- Light grey (#e5e5e5)
// $colorMediumGrey				- Medium grey (#898989)
// $colorDarkGrey				- Dark grey (#47494d)
//
// Styleguide 1.0.

$colorCorpHighlight: #00a5df;
$colorCorpHighlightLighter: #13c2ff;
$colorCorpHighlightDarker: #008bbb;

$colorInfo: #006395;
$colorSuccess: #3EEC91;
$colorSuccessDarker: #35C97C;
$colorWarning: #F3C667;
$colorWarningDarker: #EAB157;
$colorError: #FF9EA2;
$colorErrorDarker: #DB565B;

$colorCorpSecondary: $colorSuccessDarker;
$colorOffWhite: #f7f7f7;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #898989;
$colorDarkGrey: #47494d;
$colorBorderLight: shade($colorLightGrey, 5%);
$colorBorderDark: shade($colorDarkGrey, 10%);
