// Layout and display helpers
//
// %inline                    - Applies inline display
// %vertical-align            - Vertically centers elements, independently of their parents
// @mixin omega-reset($nth)   - Custom mixin for float clearing
// $layoutPagePadding         - 1em
// $layoutCompPadding         - 2 * $layoutPagePadding
// $layoutCornerRadius        - 3px
// %no-margin                 - No margin
// %margin-top-tiny           - Adds a tiny .3em top margin
// %margin-top-small          - Adds a small .5em top margin
// %margin-top-medium         - Adds a medium 1em top margin
// %margin-top-large          - Adds a large 2em top margin
// %margin-bottom-tiny        - Adds a tiny .3em bottom margin
// %margin-bottom-small       - Adds a small .5em bottom margin
// %margin-bottom-medium      - Adds a medium 1em bottom margin
// %margin-bottom-large       - Adds a large 2em bottom margin
//
// Styleguide 1.0.

//-------------------------------------
// Display
//-------------------------------------

%inline {
  display: inline-block;
  vertical-align: middle;
}

%readonly {
  cursor: no-drop;
  border: 0 !important;
  padding-left: 0 !important;
  // Temp. custom monospace font stack
  font-family: "Menlo", "Lucida Console", Monaco, monospace;
  padding-top: 0;
  border-bottom: 1px dashed #eee !important;
  color: $colorMediumGrey;
  -webkit-text-fill-color: $colorMediumGrey;
  -webkit-opacity: 1;
  background: white;

  &:hover,
  &:focus,
  &:active {
    cursor: default;
    border-color: $colorLightGrey;
  }
}

%unstyled {
  list-style: none;
  padding-left: 0;
}

//-------------------------------------
// Custom float clearing
//-------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

//-------------------------------------
// Alignment
//-------------------------------------

%vertical-align {
  @include transform(translate3d(0, -50%, 0));
  position: relative;
  top: 50%;
}

//-------------------------------------
// Spacing (margins, paddings)
//-------------------------------------

$layoutPagePadding: 1em;
$layoutCompPadding: 2em;
$layoutCornerRadius: 3px;

%no-margin { margin: 0 }
%no-margin-top { margin-top: 0 }
%no-margin-bottom { margin-bottom: 0 }
%margin-top-tiny { margin-top: .3em }
%margin-top-small { margin-top: .5em }
%margin-top-medium { margin-top: 1em }
%margin-top-large { margin-top: 2em }
%margin-bottom-tiny { margin-bottom: .3em }
%margin-bottom-small { margin-bottom: .5em }
%margin-bottom-medium { margin-bottom: 1em }
%margin-bottom-large { margin-bottom: 2em }

//-------------------------------------
// Static URL
//-------------------------------------

$localhost: 'http://127.0.0.1:8080';
$remotehost: 'https://static.sumup.com';

$staticURL: $remotehost + '/assets/images/marketing';

@mixin static-image($url, $position: center center, $size: null, $repeat: no-repeat) {
  background-image: url($staticURL + '/#{$url}');
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin static-hero($filename, $position: center center) {
  background-image: url($staticURL + '/#{$filename}-small.jpg');
  background-position: $position;
  background-size: cover;
  background-repeat: no-repeat;

  @include media($breakTabletLandscape) {
    background-image: url($staticURL + '/#{$filename}.jpg');
  }
}

@mixin hide-mobile($size) {
  display: none;
  @include media($size) { display: block }
}

@mixin hide-desktop($size) {
  display: block;
  @include media($size) { display: none }
}

//-------------------------------------
// Text truncation ("...")
//-------------------------------------

@mixin truncate($percent) {
  text-overflow: ellipsis;
  width: #{$percent};
  overflow: hidden;
}

//-------------------------------------
// Horizontal ruler
//-------------------------------------

%ruler {
  content: '';
  display: block;
  width: 15em;
  height: 1px;
  margin: 3 * $layoutPagePadding auto;
  background: $colorLightGrey;
}

//-------------------------------------
// helper classes
//-------------------------------------

/* font-style */
.h1 {
  @include media($breakTabletLandscape) {font-size: 3em !important;}
  font-weight: 300;
  line-height: 1.3;
}
.h2 {
  @include media($breakTabletLandscape) {font-size: 1.6em !important;}
  font-weight: 300;
  line-height: 1.3;
}
h3, .h3 {
  font-size: 1em;
  font-weight: 500;
}

/* text */
.text-right {text-align: right}
.text-left {text-align: left}
.text-center {text-align: center}
.text-uppercase {text-transform: uppercase}
.text-decoration-none {text-decoration: none}
.font100 {font-size: 1em}
.font80 {font-size: 0.8em}

/* images */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-circle {border-radius: 50%}


/* colors */
.colorMediumGrey {color: $colorMediumGrey}

/* elements position */
.position-relative {position: relative}
.nowrap {white-space: nowrap}
.pull-left {float: left}
.pull-right {float: right}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.overflowhidden {overflow: hidden}
.verticalAlignMiddle {vertical-align: middle}

/* margins */
.mt0 {margin-top: 0 !important}
.mt1 {margin-top: 1em}
.mt2 {margin-top: 2em}
.mt3 {margin-top: 3em}
.mt4 {margin-top: 4em}
.mr1 {margin-right: 1em}

/* paddings */
.pt0 {padding-top: 0 !important;}

.hr {
  border-top: 1px solid $colorOffWhite;
  border-bottom: none;
}


//-------------------------------------
// mixins
//-------------------------------------
/* apply ellipsis effect on multiple lines */
@mixin ellipsis-multiple($fontsize, $lineheight, $visiblelines) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  //height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit  */
  height: #{$lineheight * $visiblelines}px;
  -webkit-line-clamp: $visiblelines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}