//-------------------------------------
// SumUp Color Definitions
//-------------------------------------

// layout colors
$colorCorpHighlight: #00a5df;  // Pantone 2202C
$colorCorpHighlightLighter: #13c2ff; // for hovers and stuff
$colorCorpHighlightDarker: #008bbb; // for borders etc

$colorOffWhite: #f7f7f7;
$colorLightGrey: #e5e5e5; // Pantone Cool Gray 1C
$colorMediumGrey: #898989;
$colorDarkGrey: #47494d; // Pantone Cool Gray 11C
$colorBorderLight: shade($colorLightGrey, 5%);
$colorBorderDark: shade($colorDarkGrey, 10%);

// feedback colors
$colorSuccess: #00EC6F;
$colorSuccessDarker: #00C454;
$colorWarning: #FBBA20;
$colorWarningDarker: #E59D0E;
$colorError: #FF4343;
$colorErrorDarker: #DD312F;

//-------------------------------------
// Layout vars
//-------------------------------------
$layoutPagePadding: 20px;
$layoutCornerRadius: 2px;
